# --- Gradle ---
.gradle/
**/build/
.gradletasknamecache
gradle-app.setting

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- Security (Gradle) ---
local.properties
gradle-local.properties

# --- Security (GPG) ---
*.gpg
secring.gpg

# --- Python ---
eu.scattering.cli/wrapper/python/src/scatt_cli/jars/*.jar
eu.scattering.cli/wrapper/python/src/*.egg-info/
eu.scattering.cli/wrapper/python/pyproject.toml
eu.scattering.cli/wrapper/python/build/
eu.scattering.cli/wrapper/python/dist/
eu.scattering.cli/wrapper/python/**/__pycache__/
eu.scattering.cli/wrapper/python/**/*.py[cod]
eu.scattering.cli/wrapper/python/**/*$py.class

isolated/consumer-pypi/venv/

# --- Repomix ---

**/repomix-output.xml

# --- IntelliJ IDEA / JetBrains ---
.idea/
*.iml
*.iws
out/

# --- Java Compiled Files ---
*.class
*.log
*.jar
*.war
*.ear

# --- OS Specific / Temp Files ---
.DS_Store
Thumbs.db
**.bkp