# --- Gradle ---
.gradle/
**/build/
.gradletasknamecache
gradle-app.setting

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- Security (Gradle) ---
local.properties
gradle-local.properties

# --- Security (GPG) ---
*.gpg
secring.gpg

# --- Python ---
python/src/scatt_cli/jars/*.jar
python/src/*.egg-info/
python/pyproject.toml
python/build/
python/dist/
python/**/__pycache__/
python/**/*.py[cod]
python/**/*$py.class
isolated/consumer-pypi/venv/

# --- Repomix ---

**/repomix-output.xml

# --- IntelliJ IDEA / JetBrains ---
.idea/
*.iml
*.iws
out/

# --- Java Compiled Files ---
*.class
*.log
*.jar
*.war
*.ear

# --- OS Specific / Temp Files ---
.DS_Store
Thumbs.db
**.bkp